#sign_up_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    margin: 50px 0px 0px 500px;
    background-color: #bbdefb;
    border-radius: 20px;
}

#sign_up_h3{
    font-family: Georgia, Verdana;
    font-size: 1.5em;
    margin-bottom: 0px;
}

#form_content{
    font-family: Verdana, sans-serif;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
}

legend{
    font-weight: bold;

}

#submit_button{
    align-self: center;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 7px;
    border-radius: 15px;

}

fieldset{
    background-color: whitesmoke;
}

.log_in{
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
}

a, a:link {
    text-decoration: none;
    color:#001c55;
}
