/* Importing the fonts */
@font-face {
    font-family: CenturyGothic;
    src: url(fonts/centurygothic.ttf);
} 

@font-face {
    font-family: CenturyGothicBold;
    src: url(fonts/centurygothic_bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CenturyGothic;
    font-size: 18px;
}


/* reusable container class */
.container{
    padding: 2em 5em;
}

/* Navbar */
.navbar{
    box-shadow:  0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 0;
    .logo{
        translate: 7.6em;
        width: 5.6em;
        height: 5.6em;
        display: flex;
        justify-content: center;
        align-items: center;    
        img{
            padding: 0.4em;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .logo__text{ 
            /* padding: 0 0 0 1em; */
            p{
                font-family: CenturyGothic;
                font-size: 2em;
                font-weight: 300;
            }
            .logo__text_sub{
                font-size: 1em;
                color: gray;
            }
        }

        span{
            font-size: 0.6em;
            color: gray;
        }
    }
    
    .links_container, .links_container a:visited{
        translate: -4em;
        display: flex;
        gap: 3.2em;
        color: black;
        text-decoration: none;
        justify-content: center;
        align-items: center;

        .links{
            text-decoration: none;
            color: black;
        }

        a:hover{
            font-weight: 600;
            text-decoration: underline;
        }

        /* sign in button */
        #sign_in{
            color: white;
            background-color: #44153f;
            padding: 1em 2em;
            border-radius: 2em;
            transition: 0.2s;
            font-weight: 600;
        }
        #sign_in:hover{
            color: #44153f;
            background-color: #FFD300;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

/* Header */
.header{

    display: flex;
    .img_container{
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .header__text{
        
        padding: 1em 0 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .header__text__heading{
            font-size: 2.8em;
            font-weight: 100;

            .inner_text{
                font-size: 1em;
                font-weight: 600;
                color: #FFD300;
            }
            padding: 0 0 1em 0;
        }

        
        .body__text{
            font-size: 1.2em;
            color: #636363;
            padding: 0 0 2.8em 0;
        }

        .register_now{
            align-self: flex-start;
            cursor: pointer;
            font-size: 1em;
            padding: 1em 2em;
            background-color: #44153f;
            border: none;
            color: #ffffff;
            border-radius: 2em;
            font-weight: 600;
        }

        .register_now:hover{
            transition: 0.2s;
            font-weight: 600;
            color: #44153f;
            background-color: #FFD300;
        }
    }

}

/* About */
.about{

    h2{
        font-size: 2em;
        text-align: center; 
        padding: 0 0 1em 0;
    }

    .art_forms_container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 1.6em; 
        .art_form{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            /* padding: 1em; */
            width: 18.5em;
            height: 18.5em;
            transition: 0.2s;

            .art_form__text{
                font-size: 1.2em;
                font-weight: 600;
                text-align: center;
                padding: 2em 1em 1em 1em;
                color: #ffffff;
                bottom: 0;
                background-image: linear-gradient(to bottom, transparent, #44153f);
            }
        }
        .art_form:hover{
            transform: scale(1.08);
            box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.3em 1em 0 rgba(0, 0, 0, 0.19);
        }
    }

    /* background images for each art form */
    #madhubhani{
        background-image: url(assests/madhubani_2.avif);
        background-size: 100% 100%;
    }

    #warli{
        background-image: url(assests/warli_1.jfif);
        background-size: 100% 100%;
    }

    #kalamkari{
        background-image: url(assests/kalamkari_1.webp);
        background-size: 100% 100%;
    }

    #gond{
        background-image: url(assests/gond_1.jpg);
        background-size: 100% 100%;
    }

    .about__wrapper{

        h2{
            padding: 2em 0 1em 0;
        }

        .about__wrapper__content{
            display: flex;

            .about_text{
                /* make this cont flex */
                padding: 0 1em 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                /* border: 1px red solid; */ 
                width:50%;
                height: auto; 

                .feature_container{
                    /* padding: 0.2em 0 0 0; */
                    /* border: 1px red solid; */
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    gap: 2em;
                    width: 100%;
                    .features{
                        text-align: center;
                        font-size: 1em;
                        padding: 0.6em 0.2em;
                        background-color: #FFD300;
                        border: none;
                        color: #44153f;
                        font-weight: 600;
                        border-radius: 2em;
                    }

                    #key_feature{
                        text-align: center;
                        font-size: 1em;
                        padding: 0.6em 0.2em;
                        border: none;
                        font-weight: 600;
                        color: black;
                        background-color: #dadada;
                    }
                }
                
                /* ul{
                    padding: 1em;
                    li{
                        font-size: 1.2em;
                        font-weight: 100;
                        padding: 0.2em 0;
                        line-height: 1.4;
                        color: black;
                    }
                } */

                .workshop_details{       
                    /* border: 2px solid blue;               */
                    table{
                        /* border: 0.1em gray solid;  */ 
                        border-radius: 1em;
                        border-spacing: 0.8em;
                    
                        i{
                            padding: 0 0.5em 0 0;
                        }
                        
                        td{
                            font-size: 1.2em;

                            i{
                                scale: 1.2;
                            }
                        }
                        
                        .small_text{
                            color: gray;
                            font-size: 0.8em;
                        }
                    }
                }

                /* .workshop_note{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1em 0 0 0;
                    p.workshop_note__text{
                        box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.3em 1em 0 rgba(0, 0, 0, 0.19);
                        background-color: #f2cb28;
                        text-align: center;
                        font-size: 1.2em;
                        width: 90%;
                        padding: 0.9em;

                        span{
                            font-size: 1em;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer; 
                        }
                    }
                    
                } */

                .payment_details{
                    /* border: 1px solid red; */
                    /* padding: 2em 0 0 0; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0 1.2em;
                    
                    .register_now{
                        /* cursor: pointer;
                        font-size: 1.2em;
                        padding: 1em 2em;
                        background-color: #44153f;
                        border: none;
                        color: #ffffff;
                        border-radius: 2em; */
                        /* border: 1px solid red; */
                        color: white;
                        background-color: #44153f;
                        padding: 1em 2em;
                        border-radius: 2em;
                        transition: 0.2s;
                        font-weight: 600;
                        border: none;
                    }

                    .register_now:hover{
                        /* transition: 0.2s;
                        font-weight: 600;
                        color: #44153f;
                        background-color: #f2cb28; */

                        color: #44153f;
                        background-color: #FFD300;
                        font-weight: 600;
                        text-decoration: none;
                    }

                    .offer_container{
                        
                        height: auto;
                        width: 25em;
                        .offer{
                            cursor: pointer;
                            background-color: #dadada;
                            padding: 0.2em; 
                            margin: 0.1em;
                            border:1px solid black;
                            text-align: center;
                        }
                    }

                }
            }
        
            .about_img{
                /* border: 1px red solid; */
                width: 50%;
                height: 50%;    
                img{
                    width: 100%;
                    height: 36em;
                    object-fit: cover;
                }
            }
        }   
    }
}
/* empty space after about section */
.about::after{
    content: '';
    display: block;
    background-color: white;
    height: 3em;
}

/* Speakers */
.speakers{
    background-color: #44153f;
    h2{
        font-size: 2em;
        text-align: center;
        color: #ffffff; 
        padding: 0 0 1em 0;
    }

    .card_container{
        display: flex;
        justify-content: center;
        padding: 0 1em 1em 1em;
        gap: 2em; 
        .card{ 
            background-color: #ffffff;
            border-radius: 0.5em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 1em 0 0 0;
            /* gap: 1em; */
            
            .speaker_img{
                padding: 0em 0 0 0;
                width: 60%;
                height: 50%;
                border-radius: 100%; 
            }

            img{
                object-fit: cover;
            }
            .speaker__name{
                font-size: 1.2em;
                text-align: center;
                font-weight: 600;
            }
            
            .speaker__bio{
                font-size: 1em;
                text-align: center;
                padding: 0.5em;
            }

            .socials{
                display: flex;
                gap: 2em;
                padding: 0 0 0.6em 0;

                i{
                    scale: 1.4;
                    color: black;
                }
            }
            .socials a:hover i{
                color: #44153f;
            }
        }
    }
}

/* Schedule */
.schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2{
        font-size: 2em;
        text-align: center;
        /* color: #ffffff;  */
        padding: 1em 0 1em 0;
    }

    table{
        font-size: 1em;
        text-align: center;

        border: 0.1em solid #dadada;
        border-collapse: collapse;

        th{
            padding: 0.4em;
            font-size: 1.2em;
            border: 1px solid #dadada;
        }

        td{
            padding: 0.4em 0.6em;
            font-size: 1.2em;
            border: 1px solid #dadada;
        }

        /* color rows alternate */
        tr:nth-child(even) {background-color: rgba(255, 211, 0, 1);}
        td.date{background-color: #ffffff;}
    }

    h2.heading__workshop{
        padding: 2em 0 1em 0;
    }
    .upcoming_workshops{
        display: flex;
        justify-content: center;
        align-items: stretch; 
        gap: 2.8em;

        .workshop{
            box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.3em 1em 0 rgba(0, 0, 0, 0.19);
            border-radius: 0.4em;
            display: flex;
            width: 30%;
            flex-direction: row;
            img{ 
                border-top-left-radius: 0.4em;
                border-bottom-left-radius: 0.4em;
                width: 50%;
                object-fit: cover;
            }

            .workshop__container{
                padding: 0.5em;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1em;

                .workshop__heading{
                    font-size: 1em;
                    font-weight: 600;
                    /* padding: 0.4em 0; */
                }

                .workshop__text, span, sup{
                    font-size: 0.9em;
                    /* padding: 0.4em 0; */

                    span{
                        font-weight: 600;
                        font-size: 0.9em;
                    }
                }

                .register_now{
                    cursor: pointer;
                    font-size: 1em;
                    padding: 1em 2em;
                    background-color: #44153f;
                    border: none;
                    color: #ffffff;
                    border-radius: 2em;
                    transition: 0.2s;
                    font-weight: 600;

                }
                .register_now:hover{
                    font-weight: 600;
                    color: #44153f;
                    background-color: #FFD300;
                }
            }

        }
    }
}
 
/* Contact */
.contact{
    h2{
        font-size: 2em;
        text-align: center;
        /* color: #ffffff;  */
        padding: 0 0 1em 0;
    }

    .contact_flex_container{
        display: flex;

        .contact_us{
            width: 50%;
            display: flex;
            justify-content: center;
            
            form{
                box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.3em 1em 0 rgba(0, 0, 0, 0.19);
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em 0;
                width: 70%;

                .user_input{
                    width: 70%;
                    label{
                        padding: 0 0 0.2em 0;
                    }
                    font-weight: 600;

                    span{
                        color: red;
                        font-weight: 100;
                    }

                    input, textarea{
                        padding: 0.4em;
                        width: 90%; 
                        border: 1px solid #dadada;
                        border-radius: 0.4em;
                        resize: none;
                    }
                }

                .submit_button{
                    /* cursor: pointer; */
                    font-size: 1em;
                    padding: 1em 2em;
                    background-color: #44153f;
                    border: none;
                    color: #ffffff;
                    border-radius: 2em;
                }
                .submit_button:hover{
                    transition: 0.2s;
                    font-weight: 600;
                    color: #44153f;
                    background-color: #f2cb28;
                }
            }
        }

        .contact_info{
            width: 50%;
            display: flex;
            justify-content: center;
            /* align-items: center;  */
            flex-direction: column;
            padding: 1em 2em;

            .info{
                padding: 0.4em 0;
                span{
                    font-weight: 600;
                }
            }

            #info1 a{
                color: black;
            }

            #google_map{
                padding: 0.4em 0;
            }
        }
    }
}

.contact::after{
    content: '';
    height: 3em;
    display: block;
}

/* Footer */
.footer{
    background-color: #dadada;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;

    /* for copyright */
    position: relative;
    
    .logo{
        width: 5.6em; 
        height: 5.6em;
        display: flex;
        justify-content: center;
        align-items: center; 
        
        img{
            background-color: #dadada;
            width: 100%;
            height: 100%;
            object-fit: cover;
            scale: 0.8;
        }
        
        .logo__text{ 
            padding: 0 0 0 1em;
            font-family: CenturyGothic;
            font-size: 2em;
            font-weight: 300;
        }
    }

    .links{
        display: flex;
        gap:0 3.6em;
        .links__container{
            display: flex;
            flex-direction: column;

            .link, a:visited{
                text-decoration: none;
                color: black;
                padding: 0.2em 0;
            }
        }
    }

    a:hover{
        font-weight: 1000;
    }

    .socials{
        display: flex;
        gap: 2em;

        i{
            scale: 1.6;
            color: black;
        }
    }
    .socials a:hover i{
        color: #44153f;
    }

    .rights{
        font-size: 0.9em;
        position: absolute;
        bottom: 0;
        text-align: center;
    }
}

