*{
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    width: 100%;
    height: 50px;
    background-image: url("assests/amazon_logo.png");
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* address box in navbar*/
.add-first{
    font-size: 12px;
    color: #cccccc;
    margin-left: 15px;
}

.add-second{
    font-size: 14px;
    color: white;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* Search Bar */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD69;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border:none;
    color: #0f1111;
}