* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 28px; 
    line-height: 1.7; 
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .header__bg {
        width: 100%; 
        background: linear-gradient(to bottom, transparent, transparent, #ffffff), url("/images/bg-header-desktop.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;  
        align-items: center;
        padding: 6em 0 2em 0;
        
        img{
            scale: 1.1;
        }
    }

    .header__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 0 1em 0;

        .header__wrapper__h1 {
            font-size: 1.8em;
            font-weight: 600;
            color: hsl(210, 10%, 33%);
            padding: 0 0 0.2em 0;
            text-align: center;
        }

        .header__wrapper__description {
            color:  hsl(201, 11%, 66%);
            width: 65%;
            text-align: center;
            padding: 0 0 1em 0;
            font-size: 0.8em;
        }
    }

    .header__buttons__container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* add a gap between the 2 buttons */
        gap: 0.8em;

        .header__buttons { 
            font-size: 0.7em;
            text-align: center;
            background-color: hsl(171, 66%, 44%);;
            border: none;
            border-radius: 1.5em;
            padding: 0.6em 2.4em; 
            color: #ffffff; 
            font-weight: 500;
            box-shadow: 0 0.15em #219f8c,0 0.3em 0.8em #219f8ca9 ; 
        }

        .header__buttons:hover {
            cursor: pointer;
            opacity: 0.85;
        }

        /* Download for Mac button */ 
        #header__buttons__mac {
            background-color: hsl(233, 100%, 69%);
            box-shadow: 0 0.15em #4b5cca , 0 0.3em 0.8em #4b5ccaa9;
        }
    }
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4em 0 2em 0;

    .description__heading {
        font-size: 1.4em;
        font-weight: 600;
        color: hsl(210, 10%, 33%);
        text-align: center;
        padding: 1em 0 0.5em 0;
    }

    .description__text {
        color:  hsl(201, 11%, 66%);
        text-align: center;
        width: 50%;
        padding: 0 0 1em 0;
        font-size: 0.75em;
    }
}

.features {
    display: flex;
    justify-content: center;
    width: 100%;

    .features__image {
        width: 55%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: -1.5em;
        }
    }

    .features__list {
        width: 50%;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        padding: 2.5em 2.5em 0 3em;
        row-gap: 1.2em; 

        .features__list__container {
            padding: 0 0 0.8em 0; 
            .features__list__heading {
                color: hsl(210, 10%, 33%);
                font-size: 1em;
                font-weight: 600;
                padding: 0;
            }

            .features__list_text {
                color:  hsl(201, 11%, 66%);
                font-size: 0.6em;
            }
        }
    }
}

.portability {
    padding: 4.5em 0 0 0; 
    .portability__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 1.4em 0;
    }

    .portability__heading {
        font-size: 1.4em;
        font-weight: 600;
        color: hsl(210, 10%, 33%);
        text-align: center;
        padding: 1em 0 0.2em 0;
    }

    .portability__description {
        color:  hsl(201, 11%, 66%);
        text-align: center;
        width: 50%; 
        padding: 0 0 1em 0;
        font-size: 0.75em;
        br{
            display: none;
        }
    }
        
    /* center the image */
    .portability__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        margin:  0 0 1.2em 0 ;
        width: 100%;

        img{
            max-width: 100%; 
            height: auto;
            scale: 1.1;
        } 
    }    
}

.detailed_features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.4em;
    margin: 1em 0 0 0;

    #detailed_features_1{
        margin-top: 1em; 
    }
    #detailed_features_3{
        margin-top: 0.1em;
    }

    .detailed_features__box {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;

        .box__logo {
            /* padding:  0 0 2em 0; */
            margin: 0 0 1em 0;
            width: 12%;
            height: 8%;
            img {
                width: 100%;
                height: auto;
                object-fit: cover; 
            }
        }
    
        .box__heading {
            color: hsl(210, 10%, 33%);
            font-size: 1em;
            font-weight: 600;
            padding: 0 0 0.3em 0;
        }

        .box__text {
            color:  hsl(201, 11%, 66%);
            font-size: 0.6em;
            text-align: center;
        }
    }
}

.companylogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6.8em 0;
    /* gap: 0 4em; */
    width: 100%;
    .companylogo__image {
        display: flex;
        margin: 0 1.8em;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            height: auto;   
            scale: 1.1;
        }
    }
}

.download {
    margin: 0 0 6em 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .download__heading {
        font-size: 1.4em;
        font-weight: 600;
        color: hsl(210, 10%, 33%); 
        text-align: center;
        /* padding: 0 0 0.5em 0; */ 
    }

    .download__text {
        color:  hsl(201, 11%, 66%);
        text-align: center;
        width: 60%;
        padding: 0 0 2em 0;
        font-size: 0.75em;
    }

    /* CSS for the 2 buttons */
    .header__buttons__container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* add a gap between the 2 buttons */
        gap: 0.8em;

        .header__buttons { 
            font-size: 0.7em;
            text-align: center;
            background-color: hsl(171, 66%, 44%);;
            border: none;
            border-radius: 1.5em;
            padding: 0.6em 2.4em; 
            color: #ffffff; 
            font-weight: 500;
            box-shadow: 0 0.15em #219f8c,0 0.3em 0.8em #219f8ca9 ; 
        }

        .header__buttons:hover {
            cursor: pointer;
            opacity: 0.85;
        }

        /* Download for Mac button */ 
        #header__buttons__mac {
            background-color: hsl(233, 100%, 69%);
            box-shadow: 0 0.15em #4b5cca , 0 0.3em 0.8em #4b5ccaa9;
        }
    }
}

.footer{
    padding: 1.4em 0;
    background-color: #f5f6f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .footer__logo{
        translate: 7.2em;
        height: 2.2em; 
        width: 2.2em;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .footer__container{
        display: flex;
        gap: 0 2.8em; 
        margin:  0 3em;
        padding: 0 7em 0 0; 
        .footer__links{
            display: flex;
            flex-direction: column;
            
            .footer__links__text,.footer__links__text > a:visited{
                text-decoration: none;
                color: hsl(210, 10%, 33%);
                font-size: 0.7em;
                font-weight: 450;
                padding: 0.1em 0;
            }
            .footer__links__text:hover{
                color: hsl(171, 66%, 44%);
            }
        }
    }

    .footer_socials{
        translate: -3em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        max-width: 100%;

        .footer_socials_logo{
            width: 20%;
            height: 20%;

            .footer_socials_logo__link svg{
                width: 100%;
                height: auto; 
            }
        }
    }

    /* Change svg color on hover */
    .footer_socials_logo__link svg:hover path{
        fill: hsl(171, 66%, 44%);
    }
} 


/* Media Queries for Mobile View (Max width is 600px)*/
@media screen and (max-width: 600px) and (min-width: 320px){ 

    *{ 
        line-height: 1.4;
        font-size: 24px; 
    }

    .header{
        width: 100%;
        
        .header__bg{
            background-image: linear-gradient(to bottom, transparent, transparent, #ffffff), url("/images/bg-header-mobile.png");
            padding: 4.6em 0 2.6em 0; 
            img{
                scale: 1.2;
            };
        }

        .header__wrapper{
            margin: 0 0 0 0; 
            max-width: 100%;
            .header__wrapper__h1 {
                padding: 0 0 0.4em 0;
                width: 65%;
                font-size: 1.6em;
                text-align: center;
            }
            .header__wrapper__description {
                padding: 0;
                width: 75%;
                font-size: 0.9em;
            }
        }

        .header__buttons__container {
            flex-direction: column; 
            width: 100%;
            margin: 1.4em 0 0 0;

            .header__buttons{
                width: 80%;
                padding: 0.6em 1.2em;
                margin: 0.15em 0;
                font-size: 0.9em;
            }
        }
    }


    .description{
        margin: 4.5em 0 0 0;
        width: 100%;

        .description__heading{
            width: 65%;
            font-size: 1.4em;
            line-height: 1.4; 
        }
        .description__text {
            width: 65%;
            font-size: 0.9em;
            
        }
    }

    .features{
        align-items: center;
        flex-direction: column;
        width: 100%;
        .features__image{
            width: 90%; 
            img{
                object-position: 0;
                scale: 0.8;
            }
        } 

        .features__list {
            width: 100%;
            padding: 1em 3em;

            .features__list__container{
                width: 100%;
                padding: 0.3em 0 0.4 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .features__list__heading{
                    width: 60%;
                    font-size: 1.2em;
                    padding: 0 0 0.2em 0;
                }

                .features__list_text{
                    width: 100%; 
                    font-size: 0.9em; 
                    text-align: center;
                    br{
                        display: none;
                    }
                }
            }
        }
    }

    .portability{
        padding: 3.8em 0 0 0;
        .portability__container{
            width: 100%;
            margin: 0;
        }

        .portability__heading {
            width: 60%;
            font-size: 1.4em;
            line-height: 1.2;
            padding: 1em 0 0.4em 0;
        }

        .portability__description {
            width: 70%;
            font-size: 0.9em;
            padding: 0 0 1.8em 0;
            br{
                display: none;
            }
        }

        .portability__image {
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: auto;
                max-width: 100%;
                object-fit: contain;
                scale: 0.9;
            }
        }
    }

    .detailed_features{
        flex-direction: column;
        width: 100%;
        margin: 1.4em 0 0 0;
        #detailed_features_1{
            margin: 1em 0 0 0;
        }
        #detailed_features_3{
            margin: 0;
        }
        .detailed_features__box{
            /* justify-content: center; */
            width: 100%;
            margin:  2em 0 2.5em 0;

            .box__logo{
                width: 8%;
                height: 8%;
                padding:  0 0 1em 0;
                margin: 0;

            }
            .box__heading{
                text-align: center;
                width: 65%;
                font-size: 1.2em;
                padding: 0 0 0.4em 0;
            }
            .box__text{
                width: 70%;
                font-size: 0.9em;
                br{
                    display: none;
                }
            }
        }
    }

    .companylogo{
        flex-direction: column;
        margin: 2.8em 0;
        gap: 0;
        .companylogo__image{
            padding: 1.6em 0;
            img{
                scale: 1.2;
            }
        }
    }

    .download{
        width: 100%;
        margin: 6em 0 0 0;
        .download__heading{
            width: 65%;
            font-size: 1.4em;
        }
        .download__text{
            width: 65%;
            font-size: 0.9em;
            padding: 1em 0 0 0;
            br{
                display: none;
            } 
        }
        /* css for the 2 buttons */
        .header__buttons__container {
            flex-direction: column; 
            width: 100%;
            margin: 1.4em 0;

            .header__buttons{
                width: 80%;
                padding: 0.6em 1.2em;
                margin: 0.15em 0;
                font-size: 0.9em;
            }
        }
    }

    .footer{
        margin: 6.8em 0 0 0;
        padding: 2em 0 0 0;
        flex-direction:  column;
        justify-content: center; 
        align-items: center;
        gap: 1.6em 0;
        .footer__logo{
            translate: 0;
        }

        .footer__container{
            gap: 0;
            margin: 0;
            padding: 0;
            translate: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .footer__links{
                text-align: center;
                gap: 0;
                .footer__links__text{
                    padding: 0.2em 0 ;
                    margin: 0.2em;
                    font-size: 0.9em; 
                }
            }
        }

        .footer_socials{
            translate: 0;
            /* margin: 0 2em; */
            .footer_socials_logo{
                margin: 0 0.6em 1em 0.6em;
            }
        }
    }
}