* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .header__bg {
        width: 100%;
        background-image: linear-gradient(to bottom, transparent, transparent, #ffffff), url("/images/bg-header-desktop.png");
        /* opacity: 0.8; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6em 0 2em 0;
    }

    .header__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .header__wrapper__h1 {
            font-size: 2em;
            font-weight: 600;
            color: hsl(210, 10%, 33%);
            padding: 0 0 0.5em 0;
            width: 60%;
        }

        .header__wrapper__description {
            color:  hsl(201, 11%, 66%);
            width: 60%;
            text-align: center;
            padding: 0 0 1em 0;
        }
    }

    .header__buttons__container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* add a gap between the 2 buttons */
        gap: 0.8em;

        .header__buttons {
            background-color: hsl(171, 66%, 44%);;
            border: none;
            border-radius: 1.5em;
            padding: 0.5em 1.2em;
            color: #ffffff;
            font-weight: 500;
            box-shadow: 0 0.15em #219f8c;
        }

        .header__buttons:hover {
            cursor: pointer;
            opacity: 0.9;
        }

        /* Download for Mac button */ 
        #header__buttons__mac {
            background-color: hsl(233, 100%, 69%);
            box-shadow: 0 0.15em #4b5cca;
        }
    }
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3em 0;

    .description__heading {
        font-size: 1.5em;
        font-weight: 600;
        color: hsl(210, 10%, 33%);
        text-align: center;
        padding: 1em 0 0.5em 0;
    }

    .description__text {
        color:  hsl(201, 11%, 66%);
        text-align: center;
        width: 50%;
        padding: 0 0 1em 0;
        font-size: 0.8em;
    }
}

.features {
    display: flex;
    justify-content: center;
    width: 100%;

    .features__image {
        width: 60%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: -1.5em;
        }
    }

    .features__list {
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.5em 4em;
        row-gap: 1.5em;

        .features__list__container {
            padding: 1em 0;
            .features__list__heading {
                color: hsl(210, 10%, 33%);
                font-size: 1.2em;
                font-weight: 600;
                padding: 0 0 0.3em 0;
            }

            .features__list_text {
                color:  hsl(201, 11%, 66%);
                font-size: 0.7em;
            }
        }
    }
}

.portability {
    padding: 4.5em 0 0 0;
    .portability__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portability__heading {
        font-size: 1.5em;
        font-weight: 600;
        color: hsl(210, 10%, 33%);
        text-align: center;
        padding: 1em 0 0.5em 0;
    }

    .portability__description {
        color:  hsl(201, 11%, 66%);
        text-align: center;
        width: 60%;
        padding: 0 0 1em 0;
        font-size: 0.8em;
    }
        
    /* center the image */
    .portability__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;

        img{
            scale: 0.85;
        }
    }    
}

.detailed_features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4%;
    margin: 3em 0 0 0;

    #detailed_features_1{
        margin-top: 1em; 
    }
    #detailed_features_3{
        margin-top: 1em;
    }

    .detailed_features__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .box__logo {
            width: 12%;
            height: 12%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; 
            }
        }
    
        .box__heading {
            color: hsl(210, 10%, 33%);
            font-size: 1.2em;
            font-weight: 600;
            padding: 0 0 0.3em 0;
        }

        .box__text {
            color:  hsl(201, 11%, 66%);
            font-size: 0.7em;
            text-align: center;
        }
    }
}

.companylogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8em 6em;

    .companylogo__image {
        width: 20%;
        display: flex;
        justify-content: center;
    }
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .download__heading {
        font-size: 1.5em;
        font-weight: 600;
        color: hsl(210, 10%, 33%); 
        text-align: center;
        padding: 1em 0 0.5em 0;
    }

    .download__text {
        color:  hsl(201, 11%, 66%);
        text-align: center;
        width: 60%;
        padding: 0 0 1em 0;
        font-size: 0.8em;
    }

    /* CSS for the 2 buttons */
    .header__buttons__container {
        padding: 3em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* add a gap between the 2 buttons */
        gap: 0.8em;

        .header__buttons {
            background-color: hsl(171, 66%, 44%);
            border: none;
            border-radius: 1.5em;
            padding: 0.5em 1.2em;
            color: #ffffff;
            font-weight: 500;
            box-shadow: 0 0.15em #219f8c; 
        }

        .header__buttons:hover {
            cursor: pointer;
            opacity: 0.9;
        }

        #header__buttons__mac {
            background-color: hsl(233, 100%, 69%);
            box-shadow: 0 0.15em #4b5cca;
        }
    }
}

.footer{
    background-color: #f5f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0 0 0;
    padding: 1.5em 0;
    gap: 7em;
    
    .footer__logo{
        height: 3.5em; 
        width: 3.5em;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .footer__container{
        display: flex;
        gap: 0 5em; 
        margin:  0 3em;
        padding: 0 7em 0 0; 

        .footer__links{
            display: flex;
            flex-direction: column;
            gap: 0.5em 0 ;
    
            .footer__links__text,.footer__links__text > a:visited{
                text-decoration: none;
                color: hsl(210, 10%, 33%);
            }
            .footer__links__text:hover{
                color: hsl(171, 66%, 44%);
            }
        }
    }

    .footer_socials{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.7em;
    }

    /* Change svg color on hover */
    .footer_socials_logo__link svg:hover path{
        fill: hsl(171, 66%, 44%);
    }
} 

/* Media Queries for Mobile View (Max width is 375px)*/
@media screen and (max-width: 375px){
    /* to avoid horizontal scrolling */
    body{
        overflow-x: hidden;
    }

    .header{
        width: 100%;
        
        .header__bg{
            background-image: linear-gradient(to bottom, transparent, transparent, #ffffff), url("/images/bg-header-mobile.png");
        }

        .header__wrapper{
            max-width: 100%;
            .header__wrapper__h1 {
                width: 75%;
                font-size: 1.5em;
                text-align: center;
            }
            .header__wrapper__description {
                width: 75%;
                font-size: 0.8em;
            }
        }

        .header__buttons__container {
            flex-direction: column; 
            width: 100%;
            margin: 1.2em 0 0 0;

            .header__buttons{
                width: 80%;
                padding: 0.8em 1.2em;
                margin: 0.15em 0;
                font-size: 0.9em;
            }
        }
    }

    .description{
        margin: 4.5em 0 2em 0;
        width: 100%;

        .description__heading{
            width: 60%;
            font-size: 1.3em;
        }
        .description__text {
            width: 90%;
        }
    }

    .features{
        align-items: center;
        flex-direction: column;

        .features__image{
            width: 85%;
            img{
                object-position: 0;
            }
        } 

        .features__list {
            width: 100%;

            .features__list__container{
                width: 100%;
                padding: 0.3em 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .features__list__heading{
                    width: 100%;
                    font-size: 1.1em;
                }

                .features__list_text{
                    width: 100%;
                    font-size: 0.8em;
                }
            }
        }
    }

    .portability{
        .portability__container{
            width: 100%;
        }

        .portability__heading {
            width: 80%;
            font-size: 1.3em;
        }

        .portability__description {
            width: 80%;
        }

        .portability__image {
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .detailed_features{
        flex-direction: column;
        width: 100%;
        .detailed_features__box{
            width: 100%;
            margin:  0 0 2.5em 0;

            .box__logo{
                width: 10%;
                height: 10%;
                padding:  0 0 1em 0;
            }
            .box__heading{
                font-size: 1.1em;
                padding: 0 0 0.4em 0;
            }
            .box__text{
                width: 95%;
                font-size: 0.8em;
            }
        }
    }

    .companylogo{
        flex-direction: column;
        margin: 2em 0;
        .companylogo__image{
            padding: 2em 0;
        }
    }

    .download{
        width: 100%;
        .download__heading{
            width: 70%;
            font-size: 1.3em;
        }
        .download__text{
            width: 80%; 
        }
        /* css for the 2 buttons */
        .header__buttons__container {
            flex-direction: column; 
            width: 100%;
            margin: 1.2em 0 0 0;

            .header__buttons{
                width: 80%;
                padding: 0.8em 1.2em;
                margin: 0.15em 0;
                font-size: 0.9em;
            }
        }
    }

    .footer{
        flex-direction: column;
        margin: 4em 0 0 0;
        gap: 3.5em;
        .footer__logo{
            margin: 1em 0 0 0;
        }

        .footer__container{
            height: auto;
            flex-direction: column;
            align-items: center; 
            gap: 0.5em 0; 
            margin: 0;
            padding: 0;

            .footer__links{
                justify-content: center;
                align-items: center;
                gap: 0.5em 0 ;
            }
        }

        .footer_socials{
            height: auto;
            width: 100%;
            gap: 0 2.5em;

            .footer_socials_logo__link{
                height: 24px;
                width: 24px;
            }

            .footer_socials_logo__link :hover{
                color: hsl(171, 66%, 44%);
            }
        }
    }
}